/* Srovnání všech stylů */
@import url(normalize.css);

/* Fonty */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Pomocne styly */
img {
    width: 200px;
    height: auto
}

/* Proměnné */
:root {
    --color-primary: #FFFAFC;
    --color-secondary: #222424;
    --color-link: #35C759;
}

/* Typografie */
h1, h2, h3, p, span, a, .subheader {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-weight: 800;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p, a, span {
    font-size: 1rem;
}

.subheader{
    font-weight: 300;
    text-transform: uppercase;
}

/* Kontejnery */
.container {
    padding: 0 20px; /* zhora/spoda 0, zleva/zprava 20px */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container.light {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.container.dark {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

/* sekce */
section {
    margin: 30px auto; /* zhora/spoda 30px, zleva/zprava auto */
}

section, header, footer {
    max-width: 1240px;
    width: 100%;
}

/* Hlavička */
header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
}

.header--sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}

nav ul{
    display: flex;
    list-style: none; 
    gap: 10px;   
}

nav a {
    color: var(--color-secondary);
    text-decoration: none;
}

.logo__img{
    height: 50px;
    width: auto;
}

@media (min-width: 1024px) {
    nav ul {
        gap: 30px;
    }

    .logo__img {
        height: 90px;
    }
}

/* Patička */
footer {
    margin: auto;
    height: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer img {
    height: 40px;
    width: auto;
}

/* Co jsem se naučili */
#cojsemsenaucil {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; 
}

#cojsemsenaucil ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

#cojsemsenaucil li {
    display: flex;
    gap: 10px;
    align-items: center;
}

#cojsemsenaucil img {
    height: 40px;
    width: auto;
}

@media (min-width: 1024px) {
    #cojsemsenaucil {
        flex-direction: row;
    }

    #cojsemsenaucil ul {
        flex-direction: row;
    }

    #cojsemsenaucil li {
        gap: 20px;
    }
}

/* Úvod */
#uvod {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#uvod__obrazek {
    display: none;
    position: relative;
    width: 100%;
}

#uvod__obrazek img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 1024px) {
    #uvod{
        flex-direction: row;
        gap: 56px;
    }

    #uvod h1 {
        text-align: left;
        margin-bottom: 32px;
    }

    #uvod__obrazek {
        display: block;
    }
    .uvod__text{
        width: 100%;
    }

}

/* Dovednosti */
.comumime {
    display: flex; /* Využíme pro pozicování Flexbox */
    flex-direction: column; 
    gap: 10px; 
}

.dovednosti {
    display: flex; /* Využíme pro pozicování Flexbox */
    flex-direction: column; /* Srovná nám všechny prvky pod sebe v boxu se třídou .dovednosti = bíle boxy budou pod sebou */
    gap: 32px; /* Mezera mezi bílými boxy */
}

.dovednost{
    background-color: var(--color-primary); /* Barva pozadí bílého boxu */
    color: var(--color-secondary); /* Barva textu v bílém boxu */
    padding: 32px; /* Vnitřní odsazení bílého boxu */
    display: flex; /* Využíme pro pozicování Flexbox */
    flex-direction: column; /* Srovná nám všechny prvky pod sebe v boxu se třídou .dovednost = bíle boxy budou pod sebou */
    align-items: center; /* Zarovná všechny prvky do středu */

    /* Typografie */
    text-align: center; /* Zarovná text do středu */
}

.dovednost img {
    height: 40px; /* Výška smybolu v bílém boxu */
    width: auto; /* Automatická šířka symbolu v bílém boxu */
}

@media (min-width: 1024px) {
    .dovednosti {
        flex-direction: row; /* Na počítači nám srovná všechny boxy vedele sebe */
    }
    
    .dovednost img{
        height: 60px; /* Výška smybolu v bílém boxu na počítači */
    }
}

/* Talčítka */
.button {
    width: 240px; /* šířka tlačítka */
    height: 60px; /* výška tlačítka */
    display: flex; /* Pro jednoduché vycentrování textu používáme Flexvox */
    align-items: center; /* Vycentruje text ve tlačítku */
    justify-content: center; /* Vycentruje text ve tlačítku */
    margin: auto; /* Zarovná tlačítko na střed */
    border-radius: 10px; /* Zaoblené rohy tlačítka */
    text-decoration: unset; /* Odstraní podtržení textu */
    text-transform: uppercase; /* Převede text na velká písmena */
}

@media (min-width: 1024px) {
    .button {
        width: 350px; /* šířka tlačítka na počítači */
    }

    #uvod .button {
        margin: unset; /* Odstraní odsazení tlačítka na počítači pouze por úvodní sekci */
    }
}

.container.dark .button {
    background-color: var(--color-primary); /* Barva pozadí tlačítka pokud je tlačítko v container se třídou dark */
    color: var(--color-secondary); /* Barva textu tlačítka pokud je tlačítko v container se třídou dark */
}

.container.light .button {
    background-color: var(--color-secondary); /* Barva pozadí tlačítka pokud je tlačítko v container se třídou light */
    color: var(--color-primary);    /* Barva textu tlačítka pokud je tlačítko v container se třídou light */
}